body{
    background-color:white;
}
h2 a{
    color: red;
}
nav a{
    color:dodgerblue;
}
#current-link{
    text-decoration: none;
}

.uppercase{
    text-transform:uppercase;
    font-size:50px;
    font-style: italic;
     text-shadow: 20px 20px 20px red;
}
img{
    width:250px;
    height:auto;
    border: 10px solid red;
}
.image1{
    width:500px;
    height:auto;
    border: 4px dotted red;
    margin-left: 200px;
}
.image2{
    width:200px;
    height:auto;
    border:6px dashed blue;
}
.motion{
    text-decoration:none;
    color: black;
}
h1{
    border-bottom: 4px solid red;
    padding-left: 100px;
    margin-top:30px;
    margin-bottom:60px;
    
}
h2 p a{
    color: dodgerblue;
}
#project{
    text-decoration: none;
        margin-left: 100px;
}
#PHS{ text-decoration: none;
        margin-left: 100px;}
.projecttitle{
    text-transform:uppercase;
    font-size:50px;
    font-style: italic;
     text-shadow: 20px 20px 20px red;
}
h4 .curentprojects a {
    text-decoration: none;
    color: red;
}
.background {
    background-image: url(http://www.bfoit.org/itp/images/Programming_Wordle.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.background1{
    background-image: url(http://www.cvcc.edu/images/Computer_Program1.jpg);
    background-repeat: no-repeat;
    background-position:center bottom;
}
#tools{
     text-decoration: none;
     margin-left: 100px;
}
#instagram{
    text-decoration: none;
    margin-left: 100px;
}

